// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    background-color: lightgray;
}

i {
    width: 1.5em;
    height: 1.5em;
}

#class-size-badge {
    position: absolute;
    top: 50%;
    right: 4em;
    padding: 1em;
}

