// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    background-color: lightgray;

}

#exampleDataList {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0px;

    border-top-right-radius: 5px;
    border-top-left-radius: 0px;
}